h1 {
  color: white;
  background-color: darkgreen;
  font-size: 70px;
  text-align: center;
  margin: 0px;
}
.a1klase {
  color: white;
  background-color: green;
  font-size: 40px;
  text-align: center;
  margin: 0px;
}
.a2klase {
  color: green;
  background-color: white;
  font-size: 40px;
  text-align: center;
  margin: 0px;
}
.liutas1 {
  float: left;
  width: 33.33%;
  height: px;
  padding: 5px;

}
.liutai::after {
  content: "";
  clear: both;
  display: table;

}
.liutai {
  display: flex;
}
.liutas1 {
  flex: 33.33%;
  padding: 5px;
}
body, html {
  background-image:image("background.jpg");
  height: 100%
}
.bg {
  background-image: url("background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  back
}
